/* init.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");

/* ===== Reset + Base ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}

/* Globalizing colors */
:root {
  --primary-color: #33b168;
  --danger-color: #ca4d3f;
  --text-color: #333;
  --background-color: #f8f9fa;
}

/* ===== Layout Helpers ===== */
.page {
  display: flex;
  flex-direction: column;
  padding: 24px 180px;
  flex-grow: 1;
  justify-content: center;
}

/* ===== Utility Classes ===== */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* ===== Form Defaults ===== */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #222;
  width: 100%;
  appearance: auto;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.custom-multiselect .multiselectContainer {
  background-color: white;
  width: 500px;
  border: 1px solid #ccc;
}

.chip .closeIcon {
  margin: 0 !important;
  font-size: 16px;
  cursor: pointer;
}

.custom-multiselect .search-wrapper {
  text-align: right;
  border: none;
  outline: none;
  padding: 0;
}

.custom-multiselect .searchBox {
  background-color: white !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: right;
  padding: 10px 16px;
}

.custom-multiselect .optionContainer {
  background-color: white !important;
  text-align: right;
}

.custom-multiselect .optionContainer {
  background-color: white;
}

.custom-multiselect .option {
  background-color: white;
  color: black;
}

.custom-multiselect .option:hover {
  background-color: var(--primary-color);
  color: white;
}

.custom-multiselect .option.selected {
  background-color: var(--primary-color);
  color: white;
}

button {
  cursor: pointer;
  background-color: #f4f4f4;
  color: #222;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-weight: 700;
}

button:hover {
  background-color: #e7e7e7;
}

/* ===== Responsive Text ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0.5rem 0;
}
