.header {
  width: 100%;
  min-height: 180px;
  background-color: white;
  padding: 0 6% !important;
}

.symbol-img {
  width: 120px;
}

.profileImage {
  width: 50px;
  height: 50px;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.full-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  padding: 8px 12px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  background-color: transparent !important;
  color: var(--text-color) !important;
  transition: all 0.3s ease !important;
}

.nav-btn:hover {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}

.signout-btn {
  padding: 4px 24px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  border: 2px solid red !important;
  background-color: transparent !important;
  color: #e74b4b !important;
  transition: all 0.3s ease;
  cursor: pointer;
}

.signout-btn:hover {
  background-color: red !important;
  color: white !important;
}
